@model newProject01.Models.Card
@{
    ViewBag.Title = "修改介面";
}

<h2>EdidCard</h2>

<form method="post" action="/Home/EdidCard">

    <input type="hidden" name="id" value="@Model.Id" />
    工作事項<input name="name" value="@Model.Name" />
    工作敘述<input name="narrate" value="@Model.Narrate" />
    截止日期<input type="date" name="date" value="@Model.Date"/>
    <input class="btn btn-default" type="submit" value="修改" />

</form>
<a @Html.ActionLink("取消","index")> </a>