@using newProject01.Models;
@{
    List<Card> cards = ViewBag.cards;
    //ViewBag.Title = "Home Page";
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <link href="/Content/bootstrap.css" rel="stylesheet">
</head>

<div class="Top-Bar">
    <h1>Todo-List</h1>
    <p class="lead">這是一個簡易的Todo-List。 關閉時將自動保存。</p>
    <img class="cart" style="width:18rem;" src="~/Content/image/think.png">
</div>

<div class="container-fluid" align="center">

    <ul class="list-group">

        <form method="post" action="/Home/CreateCard">

            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="inputCharName" class="col-sm-2">工作事項</label>
                    <input type="text" id="inputCharName" name="Name" class="form-control" />
                    <input class="btn btn-default" type="submit" value="新增" />
                </div>
            </div>

        </form>

    </ul>

    <!--新增事項-->
    <h1>====待做清單====</h1>

    @foreach (Card card in cards)
    {

        if (@card.Schedule == "false")
        {
            <div>
                <li class="list-group-item">
                    <a href="@Url.Action("CheckboxGet",new { @id = @card.Id ,@schedule=true})">完成</a>

                    <input type="checkbox" name="shedule" value="true">|@card.Name

                    @Html.ActionLink("修改", "EdidCard", new { @id = @card.Id })|
                    @Html.ActionLink("刪除", "DeleteCard", new { @name = @card.Name })

                </li>
            </div>
        }

    }




    <h1>====完成清單====</h1>

    @foreach (Card card in cards)
    {

        if (@card.Schedule == "true")
        {
            <div>
                <li class="list-group-item">

                    <s><input type="checkbox" checked>@card.Name</s>
                    @Html.ActionLink("刪除", "DeleteCard", new { @name = @card.Name })

                </li>
            </div>
        }

    }


</div>
