@using newProject01.Models;
@{
    List<Card> cards = ViewBag.cards;
    //ViewBag.Title = "Home Page";
}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/HomeCss01.css" rel="stylesheet" type="text/css" />

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>


<!--標題標籤-->
<div class="Top-Bar container-fluid" align="center">
    <p class="display-1 MyTitle">TodoList</p>
</div>

<!--TodoList區塊-->
<div class="container-fluid container-fluid  " id="midBox" align="center">

    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCard">今日的工作事項 +</button>
    <div class="row"> 

    </div>
    <!--新增事項-->
    <h1>====待做清單====</h1>
    <table class="table">
        <thead></thead>
        <tr>
            <th>#</th>
            <th>名稱</th>
            <th>敘述</th>
            <th>截止日</th>
            <th> </th>
            <th> </th>
        </tr>
        <tbody>

            @foreach (Card card in cards)
            {


                if (@card.Schedule == "false")
                {
                    <tr>
                        <th><a href="@Url.Action("CheckboxGet",new { @id = @card.Id ,@schedule=true})">完成</a></th>
                        <th>@card.Name</th>
                        <th>@card.Narrate</th>
                        <th>@card.Date</th>
                        <th> @Html.ActionLink("修改", "EdidCard", new { @id = @card.Id })</th>
                        <th>@Html.ActionLink("刪除", "DeleteCard", new { @name = @card.Name })</th>
                    </tr>
                }


            }



        </tbody>
    </table>


    <!--完成清單-->
    <h1>====完成清單====</h1>
    <table class="table table_ok">
        <thead></thead>
        <tr>
            <th>#</th>
            <th>名稱</th>
            <th>敘述</th>
            <th>截止日</th>
            <th> </th>
            <th> </th>
        </tr>
        <tbody>

            @foreach (Card card in cards)
            {
                if (@card.Schedule == "True")
                {
                    <tr >
                        <th><a href="@Url.Action("CheckboxGet", new { @id = @card.Id, @schedule = "false" })">復原</a></th>
                        <th onclick="SetData(@card.Id,'@card.Name')">@card.Name</th>
                        <th>@card.Narrate</th>
                        <th>@card.Date</th>
                        <th></th>
                        <th>@Html.ActionLink("修改", "EdidCard", new { @id = @card.Id })</th>
                        <th>@Html.ActionLink("刪除", "DeleteCard", new { @name = @card.Name })</th>
                    </tr>
                }
            }



        </tbody>
    </table>

</div>

<script>

function SetData(id,name){

    var pogg = prompt(name,name);

    $('.modal-body_').add("<div>");

    console.log('hello :((', id, name);

    updata(id,name);
}
    function updata(id, name) {
        $.ajax({
        url:'~/Home/EdidCard/'+'?id='+id+'?name'+name ,
        dataType:"json",
        error:function (e){

        },
        success:function (r){
        console.log(r);
        }
});
}
 @*$('EdidCard').click(function () {

     $.ajax({
        url:'~/Home/EdidCard?id='+@id,
        dataType:"json",
        error:function (e){

        },
        success:function (r){
        console.log(r);
        }

    });

});*@
</script>

<!-- 新增 Modal  -->
<div class="modal fa    de" id="addCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">新增工作事項</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">

                    <form class="form-group" role="form" method="post" action="/Home/CreateCard">

                        <div class="form-group">
                            <label for="inputCharName" class="">工作事項</label>
                            <input type="text" id="inputCharName" name="Name" />

                            <label for="inputCharNarrate" class="">工作敘述</label>
                            <input type="text" id="inputCharNarreta" name="Narrate" />

                            <label for="inputCharDate" class="">截止日期</label>
                            <input type="date" id="inputCharDate" name="date" value="1980-08-26" />

                            <input class="btn btn-default" type="submit" value="新增" />
                        </div>


                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" value="新增" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</div>
    
<!-- 修改 Modal  -->
<div class="modal fade" id="EdidCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">修改</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body_">
                <!-- CODE 放這-->
                           <label for="inputCharName" class="">工作事項</label>
                            <input type="text" id="inputCharName" name="Name" />

                            <label for="inputCharNarrate" class="">工作敘述</label>
                            <input type="text" id="inputCharNarreta" name="Narrate" />

                            <label for="inputCharDate" class="">截止日期</label>
                            <input type="date" id="inputCharDate" name="date" value="1980-08-26" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" value="新增" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</div>